* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
}

.logo-container {
    background-color: aliceblue;
    flex: 1;
}   

nav {
    background-color: blueviolet;
    flex: 2;
}

.cart {
    background-color: coral;
    flex: 1;
}